* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.glassesLayout {
  background: url(.././public/imageSrc/glassesImage/background.jpg) no-repeat
    center;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 100vh;
}
.overlay {
  background: rgba(49, 43, 54, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  padding-left: 2em;
  color: white;
  font-size: 2rem;
  background: rgb(61 61 61);
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 50px;
  /* display: flex; */
  /* align-items: center; */
}

.imgModel button {
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: 700;
}
.divJpg {
  background: white;
  border: 1px solid #000;
  border-radius: 10px;
}
.divJpg a {
  cursor: pointer;
}

.descText {
  background: rgb(231 160 104);
}
